!!! 5
%head
  %meta{'charset' => 'utf-8'}
  %title=title
  %link{'rel' => 'stylesheet', 'href' => 'assets/components/bootstrap-sass/bootstrap-2.3.2.css'}
  %link{'rel' => 'stylesheet', 'href' => 'assets/components/bootstrap-sass/bootstrap-responsive-2.3.2.css'}
  %link{'rel' => 'stylesheet', 'href' => 'assets/stylesheets/main.css'}
%body
  .container
    .masthead
      %h3{ :class => 'muted' } Ruby Demo
      .navbar
        .navbar-inner
          .container
            %ul{ :class => 'nav'}
              %li{ :class => ('active' if request.path_info == '/') }
                %a{ :href => '/' } Home
              %li{ :class => ('active' if request.path_info == '/pokedex') }
                %a{ :href => '/pokedex' } Pokedex
    = yield
    %hr/
    .footer
      %p &copy; Web Dev ESGI 2013
</html>