%form{ :class  => "form-horizontal"}
  .control-group
    %label{ :class => "control-label", :for => "name" } Name
    .controls
      %input{ :type => "text", :id => "name", :class => "input-xxlarge", :name => "pokemon[name]", :value => pokemon.name }
  .control-group
    %label{ :class => "control-label", :for => "types" } Types
    .controls
      %input{ :type => "text", :id => "types", :class => "input-xxlarge", :name => "pokemon[types]", :value => pokemon.types.join(", ") }
  .control-group
    %label{ :class => "control-label", :for => "abilities" } Abilities
    .controls
      %input{ :type => "text", :id => "abilities", :class => "input-xxlarge", :name => "pokemon[abilities]", :value => pokemon.abilities.join(", ") }
  .control-group
    %label{ :class => "control-label", :for => "img" } Image
    .controls
      %input{ :type => "text", :id => "img", :class => "input-xxlarge", :name => "pokemon[img]", :value => pokemon.img }
  .control-group
    .controls
      %input{ :type => "hidden", :name => "pokemon[id]", :value => pokemon.id }
      %button{ :type => "submit", :class => "btn btn-primary" } Save

%script{ :type => "text/javascript", :src  => "/assets/components/jquery/jquery.min.js" }
%script{ :type => "text/javascript", :src  => "/assets/javascripts/pokemons/edit.js" }